@inherits TablerComponentBase
@namespace BlazorTabler


<span @ref="@Element" id="@Id" class="@Classes" style="@CssStyle" @attributes="@AdditionalAttributes">
    @ChildContent
</span>

@code
{
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private string Classes =>
        string.Join(" ",
                TablerClasses.DropdownHeader,
                CssClass
            )
            .Trim();

}