@inherits TablerComponentBase
@namespace BlazorTabler

<div  @ref="@Element" id="@Id" class="@Classes" style="@CssStyle" @attributes="@AdditionalAttributes"></div>

@code {
    [Parameter] public CardStatusPosition Position { get; set; } = CardStatusPosition.Top;
    [Parameter] public TablerColors Color { get; set; } = TablerColors.primary;

    private string Classes =>
        string.Join(" ",
                Position.GetDescription(),
                Color.GetDescription(),
                CssClass
            )
            .Trim();

}