@inherits TablerComponentBase
@namespace BlazorTabler

<div @ref="@Element" id="@Id" class="@Classes" style="@CssStyle" @attributes="@AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool IsBorderless { get; set; }
    [Parameter] public bool IsActive { get; set; }
    [Parameter] public bool IsInActive { get; set; }
    [Parameter] public bool RotateLeft { get; set; }
    [Parameter] public bool RotateRight { get; set; }
    [Parameter] public bool IsStacked { get; set; }
    [Parameter] public CardBackgroundColors? BackgroundColors { get; set; }

    private string Classes =>
        string.Join(" ",
                TablerClasses.Card,
                IsBorderless ? TablerClasses.CardBorderless : "",
                IsActive ? TablerClasses.CardActive : "",
                IsInActive ? TablerClasses.CardInActive : "",
                RotateLeft ? TablerClasses.CardRotateLeft : "",
                RotateRight ? TablerClasses.CardRotateRight : "",
                IsStacked ? TablerClasses.CardStacked : "",
                BackgroundColors is not null ? BackgroundColors.GetDescription() : "",
                CssClass
            )
            .Trim();


}